<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToolBox - Cuenta/Cliente Carrito</title>

  <link rel="icon" type="image/x-icon" href="/img/logo/Logo 180.png">

  <link rel="stylesheet" href="/css/cuenta.css">
  <link rel="stylesheet" href="/css/carrito.css">
  <link rel="stylesheet" href="/css/notificacion.css">

  <!--BOOTSTRAP-->
   <!--  <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.rtl.min.css">
    <script src="/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
</head>

<body>

  <div>
    <section>
      <!--Sidebar-->

      <div class="sidebar">
        <a href="#" id="homeBtn"><img src="/img/logo/Logo Letra trazo.png" alt="logo" class="logo"></a>

        <a href="#" id="client">Inicio</a>
        <a href="#general" id="pagBtn">Ir a la Pág. Principal</a>
        <a class="active sidebar_btn " href="#carrito" id="carritoBtn">Carrito</a>
        <a href="#contacto" id="contactoBtn">Servicio al Cliente</a>
        <a href="#configuracion" id="configuracionBtn">Configuración</a>

        <button class="Log-Out" id="logout"><a href="#">Cerrar sesion
          </a></button>
      </div>

    </section>

    <section class="interfaz">
      <div class="container">
        <div class="content">
          <h1>Tu Carrito de Compras</h1>
        <div class="row">
            <% if (productos.length === 0) { %>
                <p>Tu carrito está vacío.</p>
            <% } else { %>
                <% productos.forEach(producto => { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="<%= producto.imagen %>" class="card-img-top" alt="<%= producto.nombre %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= producto.nombre %></h5>
                            <p class="card-text">$<%= producto.precio.toFixed(2) %></p>
                            <p class="card-text">Cantidad: <%= producto.cantidad %></p>
                            <button type="button" class="btn btn-danger eliminar-carrito" data-producto-id="<%= producto._id %>">
                                Eliminar
                            </button>
                        </div>
                    </div>
                </div>
                <% }); %>
            <% } %>
        </div>
        <form action="/api/carrito/vaciar" method="POST">
            <button type="submit" class="btn btn-warning">Vaciar Carrito</button>
        </form>
        <a href="/checkout" class="btn btn-primary">Proceder al Pago</a>
    </div>
    </section>            

  </div>

  <footer>
    <div class="text-right p-3 text-muted" style="background-color:#2d1c1c; color: #fff;">
      © 2024 Copyright:
      <a class="link text-body" href="/views/home/index.html">ToolBox</a>
    </div>
  </footer>

  </div>


  <script src="/js/cuenta.js"></script>
  <script src="/js/carritoC.js"></script>
  <script src="/js/client.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/carroDeCompra.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>